streamlit
pandas
numpy
textblob
googletrans==3.1.0a0
nltk
sastrawi
matplotlib
seaborn
torch
transformers
tqdm
emoji
utils
scikit-learn
streamlit_option_menu
torch==2.0.0
torchvision==0.15.1
tqdm==4.64.1
